@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --font: Inter, sans-serif;
  --dark: #252525;
  --primary: #2B60EC;
  --white: #FFFFFF;
}

::placeholder{
    color: #5F5F5F;
    opacity: 1;
  }
  
.reset_password_body{
    min-width: 450px;
    min-height: 500px;
    background-color: var(--white);
    border-radius: 30px;
}


.reset_password_header{
    text-align: center;
}
.reset_password_header h1{
    font-family: var(--font);
    font-weight: 500;
    font-size: 1.3rem;
}
.reset_password_header p{
    font-family: var(--font);
    font-weight: 400;
    font-size: 18px;
}

.reset_password_footer{
    text-align: center;
}
.reset_password_footer button{
    background-color: var(--primary);
    padding: 7px 50px;
    color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 10px;
    font-family: var(--font);
    font-weight: 500;
    margin-top: 15px;
}
.reset_password_footer p{
    font-family: var(--font);
    font-weight: 400;
    margin-top: 30px;
}

.input-box{
    margin-left: 90px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.form-input{
    border-radius: 10px;
  }
